.login
  .login__header
    =link_to "Co-Workout for User", root_path,class: 'header-sentence'
  .login__box
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .login__box__field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .login__box__field
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "current-password"
          - if devise_mapping.rememberable?
      .login__box__field
        = f.check_box :remember_me
        = f.label :remember_me
      .login__box__actions
        = f.submit "ログイン",class: 'login-btn'
      .login__box__sign-up
        アカウントをお持ちでない方はこちら
      .login__box__forget-passward
        =link_to "新規登録", new_user_registration_path, class: 'registratin-btn'