.main_chat
  .main_chat__trainer
    .main_chat__trainer-name
      = @coach.name
    .main_chat__trainer-location-btn
      = link_to "MAP",location_index_path, class: 'address-btn'
    .main_chat__trainer-welcomme_sentence
      = @coach.request
  .main_chat__contents
    = render partial: 'message', collection: @messages
  .main_chat__form
    = form_for [@coach, @message] do |f|
      = f.text_field :content, class: 'input-text', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'image-icon' do
          = icon('fas', 'image', class: 'image-icon')
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'